/* index.css */
/*
body {
  background-color: #ccd9e7;
  min-height: 100vh;
}
*/

body {
  background-color: #a4adb6;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/public/logo512.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 550px 550px;
  opacity: 0.2; /* transparencia */
  pointer-events: none; /* que no interfiera con clicks */
  z-index: -1; /* detrás de todo */
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
